.gallery {
	
	margin: 0 -1.1666667% 1.75em;


	.gallery-item {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 100%;

		img {
			display: block;
			height: auto;

		}
	}
}

	.gallery-columns-1 {
		.gallery-item {
			max-width: 100%;
		}
	}

	.gallery-columns-2 {
		.gallery-item {
			max-width: 50%;
			width: 100%;
		}
	}

	.gallery-columns-4 {
		.gallery-item {
			max-width: 25%;
			width: 100%;
		}
	}

	.gallery-columns-5 {
		.gallery-item {
			max-width: 20%;
			width: 100%;
		}
	}

	.gallery-columns-6 {
		.gallery-item {
			max-width: 16.66%;
			width: 100%;
		}
	}

	.gallery-columns-7 {
		.gallery-item {
			max-width: 14.28%;
			width: 100%;
		}
	}

	.gallery-columns-8 {
		.gallery-item {
			max-width: 12.5%;
			width: 100%;
		}
	}

	.gallery-columns-9 {
		.gallery-item {
			max-width: 11.11%;
			width: 100%;
		}
	}

	.gallery-icon {
		padding: 0 1rem;

		img {
			margin: 0 auto;
		}
	}

	.gallery-caption {
		color: #686868;
		display: block;
		font-size: 1.3rem;
		line-height: 2.3rem;
		padding: 1rem;
		margin-top: 1rem;
	}

	.gallery-columns-6 .gallery-caption,
	.gallery-columns-7 .gallery-caption,
	.gallery-columns-8 .gallery-caption,
	.gallery-columns-9 .gallery-caption {
		display: none;
	}
